<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="z.fawen.mapper.UserMapper">

    <select id="queryUserList" resultType="User" useCache="true">
        select * from user;
    </select>

    <select id="queryContentList" resultType="Content">
        select * from content order by create_time desc;
    </select>

    <select id="queryUserByUsername" resultType="User">
        select * from user where username = #{username}
    </select>


    <insert id="addUser" parameterType="User">
        insert into user (username,password,email,location,status,description,create_time)
        values(#{username},#{password},#{email},#{location},#{status},#{description},#{create_time})
    </insert>

    <insert id="addContent" parameterType="Content">
        insert into content (uid,title,content,category,location,create_time)
        values(#{uid},#{title},#{content},#{category},#{location},#{create_time})
    </insert>

    <insert id="addReply" parameterType="Reply">
        insert into reply (cid,uid,content,create_time)
        values(#{cid},#{uid},#{content},#{create_time})
    </insert>

    <insert id="addMail" parameterType="Mail">
        insert into mail (sender_id,receiver_id,title,content,send_time)
        values(#{sender_id},#{receiver_id},#{title},#{content},#{send_time})
    </insert>

    <insert id="addReplyMail" parameterType="Reply_Mail">
        insert into reply_mail (mid,content,reply_time,replyer_id)
        values(#{mid},#{content},#{reply_time},#{replyer_id})
    </insert>

    <insert id="addLiked" parameterType="Liked">
        insert into liked (liker_id,rid)
        values(#{liker_id},#{rid})
    </insert>

    <update id="updateUser" parameterType="User">
        update user set username=#{username},email=#{email},location=#{location},status=#{status},description=#{description},password=#{password},last_login_time=#{last_login_time},stars=#{stars},bests=#{bests},solves=#{solves},challenges=#{challenges}
    </update>

    <update id="addStar" parameterType="Reply">
        update reply set stars = stars + 1 where id=#{id}
    </update>

    <update id="addSolve" parameterType="Reply">
        update reply set solve = 1 where id=#{id}
    </update>

    <update id="addBest" parameterType="Reply">
        update reply set best = 1 where id=#{id}
    </update>

    <update id="addChallenge" parameterType="Reply">
        update reply set challenges = challenges + 1 where id=#{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <select id="loginQuery" parameterType="User" resultType="User">
        select * from user where username = #{username} and password = #{password}
    </select>

    <select id="queryContentByUid" resultType="Content">
        select * from content where uid =#{uid}
    </select>

    <select id="queryReplyByCid" resultType="Reply">
        select * from reply where cid=#{cid}
    </select>

    <select id="queryReplyByUid" resultType="Reply">
        select * from reply where uid=#{uid}
    </select>

    <select id="queryUsernameById" resultType="String">
        select username from user where id = #{id}
    </select>

    <select id="queryReplyCount" resultType="int">
        select count(*) from reply where uid=#{uid} and cid = #{cid}
    </select>

    <select id="queryLastUpdateTime" resultType="String">
        select max(create_time) from reply where cid = #{cid}
    </select>

    <select id="queryCategory" resultType="Integer">
        select count(*) from content where uid = #{uid} and category=#{category} group by category
    </select>

    <select id="queryReplyData" resultType="Integer">
        select count(id) from reply where uid = #{uid}
    </select>

    <select id="queryReplyStars" resultType="Integer">
        select sum(stars) from reply where uid = #{uid}
    </select>

    <select id="queryReplyBest" resultType="Integer">
        select sum(best) from reply where uid = #{uid}
    </select>

    <select id="queryReplySolve" resultType="Integer">
        select sum(solve='true') from reply where uid = #{uid}
    </select>

    <select id="queryMail" resultType="Mail">
        select * from mail where receiver_id=#{receiver_id}
    </select>

    <select id="queryContentByTitleAndTime" resultType="Content">
        select * from content where title=#{title} and create_time = #{create_time}
    </select>

    <select id="queryLiked" resultType="Integer">
        select if (exists(select id from liked where liker_id=#{liker_id} and rid=#{rid}),1,0);
    </select>

    <select id="queryCidByTitleAndTime" resultType="int">
        select cid from reply where content = #{title} and create_time=#{time}
    </select>

    <select id="queryMailByTitleAndTime" resultType="Mail">
        select * from mail where title = #{title} and send_time=#{send_time}
    </select>

    <select id="queryContentByCid" resultType="Content">
        select * from content where id=#{cid}
    </select>

    <select id="queryReplyMailByMid" resultType="Reply_Mail">
        select * from reply_mail where mid = #{mid}
    </select>


</mapper>