<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="z.fawen.mapper.UserMapper">

    <select id="queryUserList" resultType="User" useCache="true">
        select * from user;
    </select>

    <select id="queryUserByUsername" resultType="User">
        select * from user where username = #{username}
    </select>


    <insert id="addUser" parameterType="User">
        insert into user (username,password,email,location,status,description,create_time)
        values(#{username},#{password},#{email},#{location},#{status},#{description},#{create_time})
    </insert>

    <insert id="addContent" parameterType="Content">
        insert into content (uid,title,content,category,location,create_time)
        values(#{uid},#{title},#{content},#{category},#{location},#{create_time})
    </insert>

    <insert id="addReply" parameterType="Reply">
        insert into reply (cid,uid,content,create_time)
        values(#{cid},#{uid},#{content},#{create_time})
    </insert>

    <update id="updateUser" parameterType="User">
        update user set username=#{username},email=#{email},location=#{location},status=#{status},description=#{description},password=#{password},last_login_time=#{last_login_time},stars=#{stars},bests=#{bests},solves=#{solves},challenges=#{challenges}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <select id="loginQuery" parameterType="User" resultType="User">
        select * from user where username = #{username} and password = #{password}
    </select>

    <select id="queryContentByUid" resultType="content">
        select * from content where uid =#{uid}
    </select>




</mapper>