<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ask</title>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/vue-router.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="../static/js/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../static/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand pl-5" href="#">法问</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto pl-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">我的提问 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="#">我的回答</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="#">我的个人页面</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="#">站内私信</a>
                </li>
            </ul>

            <div id="welcome" class="text-info pr-5" >欢迎您！{{username}}</div>

            <form class="form-inline ">
                <input class="form-control" type="search" placeholder="关键字" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
        </div>
    </nav>

    <div class="row pt-5">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    历史提问
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">样例问题1</li>
                    <li class="list-group-item">样例问题2</li>
                    <li class="list-group-item">样例问题3</li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                    不清楚如何描述您的问题？请参考：
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">民事问题范例</li>
                    <li class="list-group-item">刑事问题范例</li>
                    <li class="list-group-item">行政问题范例</li>
                </ul>
            </div>
        </div>
        <div class="col-8">
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">标题：</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="对您问题的简单描述">
                </div>


                <div class="form-group">
                    <label for="exampleFormControlTextarea1">详细描述</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
                </div>
            </form>

            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile02">
                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">上传图片</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text" id="inputGroupFileAddon02">上传</span>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect1">地区</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>北京</option>
                    <option>天津</option>
                    <option>河北</option>
                    <option>山西</option>
                    <option>内蒙古</option>
                    <option>辽宁</option>
                    <option>吉林</option>
                    <option>黑龙江</option>
                    <option>上海</option>
                    <option>江苏</option>
                    <option>浙江</option>
                    <option>安徽</option>
                    <option>福建</option>
                    <option>江西</option>
                    <option>山东</option>
                    <option>河南</option>
                    <option>湖北</option>
                    <option>湖南</option>
                    <option>广东</option>
                    <option>广西</option>
                    <option>海南</option>
                    <option>重庆</option>
                    <option>四川</option>
                    <option>贵州</option>
                    <option>云南</option>
                    <option>西藏</option>
                    <option>陕西</option>
                    <option>甘肃</option>
                    <option>青海</option>
                    <option>宁夏</option>
                    <option>新疆</option>
                    <option>台湾</option>
                    <option>香港</option>
                    <option>澳门</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">案件类型</label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>民事</option>
                    <option>刑事</option>
                    <option>行政</option>
                    <option>不清楚？</option>
                </select>
            </div>

            <div class="col text-center pt-2">
                <button type="button" class="btn btn-secondary btn-lg">提交</button>
            </div>
        </div>
    </div>




</div>
</body>

<script>
    let app = new Vue({
        el: '#welcome',
        data: {
            username: 'UserName'
        }
    })
</script>
</html>