<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>personal</title>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/vue-router.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="../static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="../static/js/echarts.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand pl-5" href="#">法问</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto pl-5">
                <li class="nav-item">
                    <a class="nav-link" href="#">我的提问 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="#">我的回答</a>
                </li>
                <li class="nav-item pl-3 activce">
                    <a class="nav-link" href="#">我的个人页面</a>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="#">站内私信</a>
                </li>
            </ul>

            <div id="welcome" class="text-info pr-5" >欢迎您！{{username}}</div>

            <form class="form-inline ">
                <input class="form-control" type="search" placeholder="关键字" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-2">
            <div class="list-group pt-5">
                <button type="button" class="list-group-item list-group-item-action">详细数据</button>
                <button type="button" class="list-group-item list-group-item-action">个人资料</button>
                <button type="button" class="list-group-item list-group-item-action">修改密码</button>
                <button type="button" class="list-group-item list-group-item-action">注销账号</button>
            </div>
        </div>
        <div class="col-10 pt-5">
            <div class="card border-dark mb-3 mx-auto" style="max-width: 24rem;">
                <div class="card-header">个人卡片</div>
                <div class="card-body text-dark" id="card" >
                    <h5 class="card-title">尊敬的{{username}}，您已经在本站</h5>
                    <p class="card-text">提出过{{questionNum}}个问题</p>
                    <p class="card-text">提出过{{replyNum}}个见解</p>
                    <p class="card-text">解决了{{solveNum}}个问题</p>
                    <p class="card-text">摘取了{{bestNum}}次最佳答案</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    let app = new Vue({
        el: '#welcome',
        data: {
            username: 'UserName'
        }
    })

    let card = new Vue({
        el: '#card',
        data: {
            username: 'username',
            questionNum: '4',
            replyNum: '3',
            solveNum: '2',
            bestNum: '1'
        }
    })
</script>

</html>